<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=DESKTOP-BI24BOF;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014ConnectionString1"
            connectionString="Data Source=DESKTOP-GTTM5KF\SQLEXPRESS;Initial Catalog=AdventureWorks2014;Integrated Security=True" />
    </connectionStrings>
</configuration>